.Rproj.user
.Rhistory
.RData
.Ruserdata
input_data/WorldClim_data_future/mi_ssp585_10_2090.tif
input_data/WorldClim_data_future/mi_ssp585_10_2030.tif
input_data/WorldClim_data_future/mi_ssp126_10_2090.tif
input_data/WorldClim_data_future/mi_ssp126_10_2030.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_9.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_8.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_7.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_6.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_5.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_4.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_3.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_2.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_19.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_18.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_17.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_16.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_15.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_14.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_13.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_12.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_11.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_10.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_1.tif
current.csv
mi_ssp126_10_2030.tif.csv
mi_ssp126_10_2090.tif.csv
mi_ssp585_10_2030.tif.csv
mi_ssp585_10_2090.tif.csv
input_data/Shape/Shape_BAP_DISSOLV.cpg
input_data/Shape/Shape_BAP_DISSOLV.dbf
input_data/Shape/Shape_BAP_DISSOLV.prj
input_data/Shape/Shape_BAP_DISSOLV.sbn
input_data/Shape/Shape_BAP_DISSOLV.sbx
input_data/Shape/Shape_BAP_DISSOLV.shp
input_data/Shape/Shape_BAP_DISSOLV.shp.WORKSTATION.9584.20716.sr.lock
input_data/Shape/Shape_BAP_DISSOLV.shp.xml
input_data/Shape/Shape_BAP_DISSOLV.shx
teste_current.tif
current_10_m.zip
current_10m.zip
input_data/Shape.zip
.DS_Store
inst/doc
